<h1 mat-dialog-title style="font-weight: 400;">Select Date Range </h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate">
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="endDate">
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()"  class="custom-button" style="font-weight: 300; margin-bottom: 20px; border: 1px red; margin-left: 5px;">Cancel</button>
  <button mat-button (click)="generateBalanceReport()" style="font-weight: 300; border: 0.05em solid;margin-left: 65px;margin-bottom: 20px;">Generate Report</button>

</div>

