<mat-toolbar>
  <!-- <span [routerLink]="['home']" >TimeForTravel</span> -->
   <!-- <img src="../../../assets/images/timefortravel-high-resolution-logo.png"/> -->
  <div>
    <button style="float: right; background-color: #3d9bf9; color: white; font-weight: 300;" mat-raised-button color="primary" [routerLink]="['home']">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <button *ngIf="roles.includes('UNAUTHENTICATED')" [routerLink]="['register']" style="float: right; background-color: #3d9bf9; color: white; font-weight: 300;" mat-raised-button color="primary"><mat-icon>how_to_reg</mat-icon>Register</button>
    <button *ngIf="roles.includes('ADMIN')" [routerLink]="['/allReservations', userId,'all']" style="float: right; background-color: #3d9bf9; color: white; font-weight: 300;" mat-raised-button color="primary"><mat-icon>book</mat-icon>All reservations</button>
    <button *ngIf="roles.includes('CUSTOMER')" [routerLink]="['/allReservations', userId,'user']" style="float: right; background-color: #3d9bf9; color: white; font-weight: 300;" mat-raised-button color="primary"><mat-icon>book</mat-icon>My reservations</button>
    <button *ngIf="roles.includes('UNAUTHENTICATED')" [routerLink]="['login']" style="float: right; background-color: #3d9bf9; color: white;font-weight: 300;" mat-raised-button color="primary"><mat-icon>login</mat-icon>Log In</button>
    <button *ngIf="roles.includes('ADMIN')" [routerLink]="['allUsers']" style="float: right; background-color: #3d9bf9; color: white; font-weight: 300;" mat-raised-button color="primary"><mat-icon>group</mat-icon>All users</button>
    <button  *ngIf="roles.includes('SALESMAN') || roles.includes('ADMIN')" [routerLink]="['allDestinations']" style="float: right; background-color: #3d9bf9; color: white; font-weight: 300;" mat-raised-button color="primary"><mat-icon>location_city</mat-icon>All destinations</button>
    <button  *ngIf="roles.includes('SALESMAN') || roles.includes('ADMIN')"  [routerLink]="['allArrangements']" style="float: right; background-color: #3d9bf9; color: white;font-weight: 300;" mat-raised-button color="primary"><mat-icon>explore</mat-icon>All arrangements</button>
    <button *ngIf="!roles.includes('UNAUTHENTICATED')" [routerLink]="['home']" (click)="logout()" style="float: right; background-color: #3d9bf9; color: white; font-weight: 300;" mat-raised-button color="primary"><mat-icon>logout</mat-icon>Log out</button>

    <span class="toolbar-item" *ngIf="roles.includes('SALESMAN') || roles.includes('ADMIN')">
      <button mat-button [matMenuTriggerFor]="menu" style="background-color: white; color: black; font-weight: 300; border: 1px solid; display: flex; align-items: center; padding: 8px 16px;">
        <!-- <mat-icon>report</mat-icon> -->
        <span style="margin-left: 8px; margin-right: 8px;">Reports</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="downloadReportDestination()" style="font-weight: 300; background-color: whitesmoke;">Destination Report</button>
        <button mat-menu-item (click)="downloadBalanceReport()" style="font-weight: 300; background-color: whitesmoke;">Balance Report</button>
      </mat-menu>
    </span>


  </div>
</mat-toolbar>
