<mat-toolbar color="primary" class="toolbar">
  <!-- <img src="../../../assets/images/timefortravel-high-resolution-logo.png" alt="Logo" class="logo"/> -->

  <div class="toolbar-spacer"></div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="downloadReportDestination()">
      <mat-icon>location_city</mat-icon>
      Destination Report
    </button>
    <button mat-menu-item (click)="downloadBalanceReport()">
      <mat-icon>account_balance_wallet</mat-icon>
      Balance Report
    </button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="menu"  *ngIf="isLoggedIn() && roles.includes('SALESMAN') || roles.includes('ADMIN')"  style="width: 110px;font-size:16px;">
    <mat-icon style="margin-right: 5px;">report</mat-icon>
    Reports
  </button>

  <button *ngIf="isLoggedIn() && roles.includes('ADMIN')" mat-icon-button [routerLink]="['allUsers']">
    <mat-icon>group</mat-icon>
  </button>

  <button *ngIf="!isLoggedIn() && roles.includes('UNAUTHENTICATED')" mat-icon-button [routerLink]="['register']" class="auth-button">
    Register
  </button>

  <mat-menu #reservationsMenu="matMenu">
    <button mat-menu-item  *ngIf="isLoggedIn() &&  roles.includes('ADMIN')" [routerLink]="['/allReservations', userId, 'all']">
      <mat-icon>book</mat-icon>
      All Reservations
    </button>
    <button mat-menu-item *ngIf="isLoggedIn() &&  roles.includes('CUSTOMER')" [routerLink]="['/allReservations', userId, 'user']">
      <mat-icon>book</mat-icon>
      My Reservations
    </button>
  </mat-menu>

  <button  mat-icon-button [matMenuTriggerFor]="reservationsMenu"  *ngIf="isLoggedIn() &&  roles.includes('CUSTOMER') || roles.includes('ADMIN')" style="width: 150px;font-size:16px;">
    <mat-icon>book</mat-icon>
    <span class="button-text">Reservations</span>
  </button>

  <button *ngIf="!isLoggedIn() && roles.includes('UNAUTHENTICATED')" mat-icon-button [routerLink]="['login']" class="auth-button">
    Log In
  </button>

  <button *ngIf="isLoggedIn() &&  roles.includes('SALESMAN') || roles.includes('ADMIN')" mat-icon-button [routerLink]="['allDestinations']" style="width: 140px; font-size: 16px;">
    <mat-icon style="margin-right: 5px;">location_city</mat-icon>
    Destinations
  </button>

  <button *ngIf="isLoggedIn() &&  roles.includes('SALESMAN') || roles.includes('ADMIN')" mat-icon-button [routerLink]="['allArrangements']" style="width: 150px; font-size: 16px;">
    <mat-icon style="margin-right: 5px;">explore</mat-icon>
    Arrangements
  </button>

  <button mat-icon-button [routerLink]="['home']">
    <mat-icon>home</mat-icon>
  </button>


  <button *ngIf="isLoggedIn() && !roles.includes('UNAUTHENTICATED')" mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

