<mat-toolbar>
  <!-- <span [routerLink]="['home']" >TimeForTravel</span> -->
   <img src="../../../assets/images/timefortravel-high-resolution-logo.png"/>
  <div>
    <button style="float: right; background-color: #3d9bf9; color: white; font-weight: 300;" mat-raised-button color="primary" [routerLink]="['home']">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <button *ngIf="roles.includes('UNAUTHENTICATED')" [routerLink]="['register']" style="float: right; background-color: #3d9bf9; color: white; font-weight: 300;" mat-raised-button color="primary"><mat-icon>how_to_reg</mat-icon>Register</button>
    <button *ngIf="roles.includes('ADMIN')" [routerLink]="['/allReservations', userId,'all']" style="float: right; background-color: #3d9bf9; color: white; font-weight: 300;" mat-raised-button color="primary"><mat-icon>book</mat-icon>All reservations</button>
    <button *ngIf="roles.includes('CUSTOMER')" [routerLink]="['/allReservations', userId,'user']" style="float: right; background-color: #3d9bf9; color: white; font-weight: 300;" mat-raised-button color="primary"><mat-icon>book</mat-icon>My reservations</button>
    <button *ngIf="roles.includes('UNAUTHENTICATED')" [routerLink]="['login']" style="float: right; background-color: #3d9bf9; color: white;font-weight: 300;" mat-raised-button color="primary"><mat-icon>login</mat-icon>Log In</button>
    <button *ngIf="roles.includes('ADMIN')" [routerLink]="['allUsers']" style="float: right; background-color: #3d9bf9; color: white; font-weight: 300;" mat-raised-button color="primary"><mat-icon>group</mat-icon>All users</button>
    <button  *ngIf="roles.includes('SALESMAN') || roles.includes('ADMIN')" [routerLink]="['allDestinations']" style="float: right; background-color: #3d9bf9; color: white; font-weight: 300;" mat-raised-button color="primary"><mat-icon>location_city</mat-icon>All destinations</button>
    <!-- <button  *ngIf="roles.includes('SALESMAN') || roles.includes('ADMIN')" (click)="addDestination()" style="float: right; background-color: #3d9bf9; color: white;" mat-raised-button color="primary"><mat-icon>add_location_alt</mat-icon>Add destination</button> -->
    <!-- <button  *ngIf="roles.includes('SALESMAN')"  [routerLink]="['addArrangement']" style="float: right; background-color: #3d9bf9; color: white;" mat-raised-button color="primary"><mat-icon>travel_explore</mat-icon>Add arrangement</button> -->
    <button  *ngIf="roles.includes('SALESMAN') || roles.includes('ADMIN')"  [routerLink]="['allArrangements']" style="float: right; background-color: #3d9bf9; color: white;font-weight: 300;" mat-raised-button color="primary"><mat-icon>explore</mat-icon>All arrangements</button>
    <button *ngIf="!roles.includes('UNAUTHENTICATED')" [routerLink]="['home']" (click)="logout()" style="float: right; background-color: #3d9bf9; color: white; font-weight: 300;" mat-raised-button color="primary"><mat-icon>logout</mat-icon>Log out</button>
    <button  (click)="downloadReport()" style="float: right; background-color: #3d9bf9; color: white; font-weight: 300;" mat-raised-button color="primary"><mat-icon>report</mat-icon>Report - users</button>

  </div>
</mat-toolbar>
