mat-toolbar {
  background-color: white;
  flex-wrap: nowrap;
}
img{
  height: 90px;
  width: 120px;
}

div {
  width: 100%;
  justify-content: flex-end;
}

/* button {
  margin-right: 10px;
} */


button{
  background-color:white;
  color: grey;
  font-weight: 300;
  /* border: 1px solid; */
  border-radius: 4px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-right: 10px;
}

.mat-menu-item:hover {
  background-color: whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sivi senka pri prelazu miša */
}

.button-text {
  margin-left: 8px;
  margin-right: 8px;
}

.custom-menu {
  border-radius: 4px; /* Zaobljeni uglovi */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sivi senka */
}

.menu-item {
  font-weight: 400; /* Normalna debljina fonta */
  background-color: #f8f9fa; /* Svetlo siva boja pozadine */
  color: #343a40; /* Tamno siva boja teksta */
  border-radius: 4px; /* Zaobljeni uglovi */
  transition: background-color 0.3s; /* Glatki prelazi */
}

.menu-item:hover {
  background-color: #e9ecef; /* Još svetlija siva boja pri prelazu miša */
}


.auth-button {
  text-align: center;
  margin-left: 8px;
  width: 82px;
  margin-right: 8px;
  padding: 0 16px;
  font-weight: 300;
  font-size: 16px;
  text-transform: none;
}

