<div class="search-container">
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <div class="form-row">
      <mat-form-field appearance="fill" class="date-picker">
        <mat-label>Date From</mat-label>
        <input matInput [matDatepicker]="pickerFrom" formControlName="dateFrom">
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill" class="date-picker">
        <mat-label>Date To</mat-label>
        <input matInput [matDatepicker]="pickerTo" formControlName="dateTo">
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill" class="destination-select">
        <mat-label>Destination</mat-label>
        <mat-select formControlName="destination">
          <mat-option *ngFor="let destination of destinations" [value]="destination.id">
            {{ destination.city_name }}, {{destination.country_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-row">
      <button mat-raised-button  type="submit"><mat-icon>search</mat-icon>Search</button>
    </div>
  </form>
</div>
