<p class="moto">Find Your Perfect Trip</p>
<p>Browse our offerings and discover your next adventure. If you have any questions or need assistance with bookings, feel free to contact us. We look forward to helping you create unforgettable memories!</p>
<p class="i">Let us help you turn your travel dreams into reality with our personalized services and expert recommendations.</p>

<div class="search-container">
  <app-search (search)="onSearch($event)"></app-search>
</div>

<div *ngIf="noResultMessage" class="no-results-message" style="font-weight: 300;margin: 50px;font-size: 18px;">
  {{ noResultMessage }}
</div>


<div class="card-container">
  <div *ngFor="let arrangement of arrangementList" style="margin-bottom: 2%;margin-top: 1%;">
    <app-arrangement-card [arrangement]="arrangement"  (arrangementUpdated)="getArrangements()"></app-arrangement-card>
  </div>
</div>
