* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
} 

img {
  position: absolute;
  filter: blur(0.5px);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.image-container {
  position: relative;
  width: 100%;
  height: 300px; 
  overflow: hidden;
  margin-bottom : 5%;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 700;
  font-style: italic; 
  z-index: 1;
  opacity: 0.8;
  margin-bottom: 10px;
}


