.feedback-dialog {
  width: 100%;
  max-width: 600px;
  margin:  auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
}

.feedback-header {
  text-align: center;
  margin-bottom: 20px;
}

.feedback-header h2 {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 10px;
}

.feedback-header p {
  color: #555;
}

.feedback-body {
  display: flex;
  align-items: flex-start;
}

.profile-picture {
  flex: 0 0 100px;
  margin-right: 20px;
}

.profile-picture img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-form {
  flex: 1;
  margin-right: 20px;
}

mat-form-field {
  width: 100%;
}

mat-form-field textarea {
  width: 100%;
  font-size: 1em;
  line-height: 1.5; /*readability*/
}

.form-actions {
  margin-top: 20px;
  text-align: right;
}

.form-actions button {
  margin-left: 10px;
}

.form-actions button:first-child {
  background-color: #3d9bf9;
  color: white;
  font-weight: 300;
}


.form-actions .cancel-button {
  color: #f44336;
  border: 1px solid;
  font-weight: 300;
}


.star-rating {
  display: flex;
  font-size: 2em;
  color: #ccc;
  cursor: pointer;
}

.star-rating .star.filled {
  color: #fbc02d;
}

.star-rating .star.unfilled {
  color: #ccc;
}

.star-rating-container {
  display: flex;
  align-items: center;
}

