<div class="example-container" style="background-image: url('path/to/your/background.jpg');">
  <div class="form-container">
    <div class="header-container">
      <img src="../../../assets/images/reg.png" alt="Reg" class="logo">
      <h2 class="register-header">Registration</h2>
    </div>

    <form [formGroup]="createRegisterForm" (ngSubmit)="register()">
      <div class="form-column">
        <mat-form-field class="other-fields">
          <mat-label>Enter your name</mat-label>
          <input matInput name="name" placeholder="First Name" formControlName="name" required>
        </mat-form-field>

        <mat-form-field class="other-fields">
          <mat-label>Enter your surname</mat-label>
          <input matInput name="surname" placeholder="Last Name" formControlName="surname" required>
        </mat-form-field>

        <mat-form-field class="other-fields">
          <input matInput name="phoneNumber" placeholder="Phone number" formControlName="phoneNumber" required>
          <mat-icon matSuffix>call</mat-icon>
        </mat-form-field>
      </div>
      <div class="form-column">
        <mat-form-field class="other-fields">
          <input matInput placeholder="Email" name="email" formControlName="email" required>
          <mat-icon matSuffix>edit_note</mat-icon>
        </mat-form-field>

        <mat-form-field class="other-fields">
          <input matInput placeholder="Username" name="username" formControlName="username" required>
          <mat-icon matSuffix>edit_note</mat-icon>
        </mat-form-field>

        <mat-form-field class="other-fields">
          <mat-label>Enter your password</mat-label>
          <input matInput name="password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide.toString()">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="other-fields">
          <mat-label>Confirm your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" name="confirmPassword" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide.toString()">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="example-button-row">
        <button type="submit" id="button" mat-raised-button color="primary">
          Register
          <mat-icon class="icon">how_to_reg</mat-icon>
        </button>
      </div>

      <div *ngIf="createRegisterForm.hasError('passwordMismatch')" class="error-message">
        Passwords do not match.
      </div>
    </form>
  </div>
</div>
