<mat-card class="custom-card">
  <mat-card-content>
    <h2>{{ arrangement.destination?.city_name }}, {{ arrangement.destination?.country_name }}</h2>

    <img src="../../../assets/images/venezia.jpg" alt="Default Image" style="width: 400px; height: 200px;">

    <br>

    <p>Description : {{ arrangement.description }}</p>

    <div class="date-range">
      <p><strong>From : </strong> {{ arrangement.date_from | date: 'shortDate' }}</p>
      <p><strong>To : </strong> {{ arrangement.date_to | date: 'shortDate' }}</p>
      <p></p>
      <p>Free seats:
        <span *ngIf="arrangement.free_seats === 0" class="sold-out" style="color: red;">0 - Sold Out</span>
        <span *ngIf="arrangement.free_seats > 0">{{ arrangement.free_seats }}</span>
      </p>
    </div>

    <button mat-button class="custom-button" (click)="viewDetails()">
      Show details
    </button>
  </mat-card-content>
</mat-card>
