.custom-card {
  width: 100%;
  margin-bottom: 30px;
  margin: 15px;
  position: relative; /* Ensure the header and buttons are positioned relative to the card */
  padding: 16px; /* Add some padding to the card content */
}

.card-header {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  z-index: 1;
  margin-bottom: 20px;
}

.card-header button {

  border-radius: 50%;
}

.card-header button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}



.custom-card img {
  display: block;
  margin: 0 auto 10px;
}

.custom-card h2 {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 20px;
}

.custom-card p {
  margin: 10px 0;
}

.custom-card button.custom-button {
  font-weight: 300;
  display: block;
  margin: 15px auto 0;
  background-color: rgb(40, 155, 176);
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-card button.custom-button:hover {
  background-color: #155a9e;
  border-color: #155a9e;
}

p {
  margin-top: 10px;
  font-weight: 300;
  font-size: 16px;
  color: #555;
}

.date-range p {
  margin: 5px 0;
}

.date-range strong {
  color: #333;
}

.outdated-card {
  border: 1px solid #ec8585;
}

.divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 16px 0;
}

