<mat-card class="custom-card" [ngClass]="{'outdated-card': isOutdated()}">
  <mat-card-content>
    <h2>{{ arrangement.destination?.city_name }}, {{ arrangement.destination?.country_name }}</h2>

    <img *ngIf="images && images.length > 0"
         [src]="images[0]"
         alt="Destination Image"
         style="width: 100%; height: auto; max-width: 400px; max-height: 200px; object-fit: cover;">

    <br>

    <p>Description : {{ arrangement.description }}</p>

    <div class="date-range">
      <p><strong>From : </strong> {{ arrangement.date_from | date: 'shortDate' }}</p>
      <p><strong>To : </strong> {{ arrangement.date_to | date: 'shortDate' }}</p>
      <p></p>
      <p>Free seats:
        <span *ngIf="arrangement.free_seats === 0" class="sold-out" style="color: red;">0 - Sold Out</span>
        <span *ngIf="arrangement.free_seats > 0">{{ arrangement.free_seats }}</span>
      </p>
    </div>

    <button mat-button class="custom-button" (click)="viewDetails()">
      Show details
    </button>
  </mat-card-content>
</mat-card>
