<div class="container">
  <div class="header-container">
    <span class="header-title">All Destinations</span>
    <button *ngIf="roles.includes('SALESMAN') || roles.includes('ADMIN')" (click)="addDestination()"
            mat-raised-button color="primary">
      <mat-icon>add_location</mat-icon>
      Add Destination
    </button>
  </div>

  <div class="card-container">
    <div *ngFor="let destination of destinations" style="margin-bottom: 2%;margin-top: 1%;">
      <app-destination-card [destination]="destination"></app-destination-card>
    </div>
  </div>
</div>
