.container {
  width: 80%;
  margin: auto;
  margin-top: 2%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header-title {
  font-size: 24px;
  font-weight: 300;
}


button {
  background-color: #3d9bf9;
  color: white;
  font-weight: 300;
}



.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.custom-card {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.mat-card-content {
  padding: 16px;
}
